<a 
    {if true === $submenu}
        class="dropdown-toggle" data-toggle="dropdown" 
    {/if}
    href="{link Default:page, 'id' => $menuitem->id, 'seo_url_text' => $menuitem->final_url_text}">{$menuitem->name}
    {if true === $submenu}
        <span class="caret"></span>
    {/if}
</a>
