<div class="page-header">
    <h2>Přidat novou položku do menu</h2>
</div>
{$addForm}

<div class="page-header">
    <h2>Položky menu <small>(celkem {count($menu)})</small></h2>
</div>

{include 'menu_list.latte', menu => $menu, updateOrderUrl => $updateOrderUrl}
