{block head}
    <style>
        div.radio {
            float: left;
            width: 30%;
        }
    </style>
{/block}

{block content}
<div class="container">
    <h2>Editace</h2>
    {control editForm}
</div>
{/block}
