php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes


# --- parameters -----------------------------------------------------------
parameters:
        database:
                default:
                        driver: mysql
                        host: localhost
                        dbname: web-cms-work
                        user: web-cms-work
                        password: web-cms-work

# --- nette config ---------------------------------------------------------
nette:
        application:
                errorPresenter: Error
                mapping:
                        *: App\*Module\Presenters\*Presenter

        database:
                default:
                        dsn: '%database.default.driver%:host=%database.default.host%;dbname=%database.default.dbname%'
                        user: %database.default.user%
                        password: %database.default.password%
                        options:
                                lazy: yes

        session:
                expiration: 14 days


# --- services -------------------------------------------------------------
services:
        #- App\Model\UserManager
        - App\RouterFactory
#        database: @nette.database.default
        router: @App\RouterFactory::createRouter