<div class="page-header">
    <h2>
        Současná adresa: 
        <small>
            {if $address == ""}
                zatím nebyla zadána
            {else}
                {$address}
            {/if}
        </small>
    </h2>
</div>

<br />

{$form}