<form method="post" action="{link ModuleInsertCode:Save, $module->id, parent_page_id => $module->page_id}">
    <textarea name="code" rows="20" class="tinymce_insert_code">{$code}</textarea>
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Uložit" />
</form>