{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    <h1 n:block=title>Administrace</h1>
</div>
{/block}

{block scripts}
{include parent}
<script>

</script>
{/block}


{block head}

{/block}
