

{block content}
<div class="container">
    <h1 n:block=title>Seznam stránek</h1>
       {$pagesTable|noescape}
</div>
{/block}

{block scripts}
{include parent}
<script>

</script>
{/block}


{block head}

{/block}
